body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;

  background-color: #cbd4c2;
}

.calculator {
  background-color: #fffcff;
  padding: 10px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(144, 108, 108, 0.1);
}
section {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(15, 13, 13);
}
.input {
  width: 380px;

  display: flex;
  padding-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  justify-content: center;

  flex-direction: column;
  background-color: #fff;
  scrollbar-width: none;
  overflow-x: scroll;
  scrollbar-width: 0px;
  height: 200px;
}

.hidden {
  display: none;
}

@keyframes up {
  100% {
    transform: translateY(-10px);
  }
  0% {
    transform: translateY(0);
  }
}
@keyframes sce {
  100% {
    font-size: 40px;
  }
  0% {
    font-size: 32px;
  }
}
#display {
  width: 350px;
  padding-left: 4px;

  margin: 0;
  align-items: center;
  font-size: 30px;

  align-items: center;
  border: none;
  background-color: transparent;
  color: black;
  font-weight: 500;
}
#display2 {
  width: 350px;
  margin: 0;
  color: black;
  font-weight: 500;
  padding-left: 4px;
  font-size: 30px;
  align-items: center;

  border: none;
  background-color: transparent;

  animation: up 0.5s ease forwards, sce 0.5s ease forwards;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 80px);

  gap: 20px;
}

.number {
  font-size: 25px;
  border: none;
  border-radius: 50%;
  background-color: #e6e7eb;
  color: black;
  overflow: hidden;

  cursor: pointer;
  text-transform: capitalize;
  font-weight: 300;
}
.calculat {
  background-color: #ff661a;
  color: black;
  padding: 20px;
  font-weight: 500;
  overflow: hidden;
  text-transform: capitalize;
  font-size: 25px;
  border: none;
  border-radius: 100%;
  color: black;
}
.button {
  background-color: #a28e85;

  color: black;
  padding: 20px;
  font-weight: 500;
  overflow: hidden;
  text-transform: capitalize;
  font-size: 25px;
  border: none;
  border-radius: 100%;

  cursor: pointer;
}
