body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;

  background-color: #cbd4c2;
}
.calculator {
  background-color: #fffcff;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input {
  display: flex;
  padding-right: 10px;
  justify-content: center;
  flex-direction: column;
  height: 100px;
}
.hidden {
  display: none;
}
.active {
  animation: up 0.1s ease forwards;
}
@keyframes up {
  100% {
    transform: translateY(-20px);
  }
  0% {
    transform: translateY(0);
  }
}
#display {
  height: 40px;
  /* display: flex; */

  margin: 0;
  align-items: center;
  font-size: 30px;
  align-items: center;
  color: black;
  font-weight: 300;
}
#display2 {
  height: 40px;
  margin: 0;
  font-size: 30px;
  align-items: center;
  color: black;
  font-weight: 300;
  line-height: 0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 80px);

  gap: 20px;
}

.number {
  font-size: 25px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  color: black;
  box-shadow: 0 0 10px 2px #bac2c1;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 300;
}
.button {
  padding: 20px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 25px;
  border: none;
  border-radius: 100%;
  background-color: #b5c0ae;
  box-shadow: 0 0 10px 2px #bac2c1;
  color: black;
  cursor: pointer;
}
.button:hover {
  background-color: #c7c3c3;
}
.number:hover {
  background-color: #ffffff6a;
}
